// ::Imports pre-render. Must be after reset
// ------------------------------------------------------------
@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";


/* ::Base styles */
/* ------------------------------------------------------------ */

html {
	font-size: 100%;
	/* normalize text rendering */
	-webkit-font-smoothing: antialiased;
}

body {
	@extend .font-body;
	background: $body-color;
	color: $base-color;
}

/* ::Import styles */
/* ------------------------------------------------------------ */

@import "bootstrap-custom";					// bootstrap
@import "libs/typography"; 					// Base level typography
@import "libs/forms";						// Forms
@import "libs/iubenda"; 					// Iubenda
@import "libs/bxslider"; 					// bxslider
@import "libs/strip"; 						// strip

a {
	color: $action;
	text-decoration: none;
}

.svg-wrapper {
	width: 100%;
	display: block;
	height: auto;
	position: relative;
	padding-top: 100%; /* SQUARED */
	@include base_transition();

	svg {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

/* main container */
.container {
	@include clearfix;
}

// Use SASS globbing to import all _.scss files in the module folder.
// These should be independent modules that follow the BEM/SMACSS way
@import "modules/footer";
@import "modules/header";
@import "modules/navigation";
@import "modules/structure";


// ------------------------------------------------------------
// Breakpoints
// ------------------------------------------------------------

//Two
@media (min-width: $b-vp) {

}

//Free
@media (min-width: $c-vp) {

}

//Four
@media (min-width: $d-vp) {

}

//Five
@media (min-width: $e-vp) {

}

//Six
@media (min-width: $f-vp) {

}

//Seven
@media (min-width: $g-vp) {

}
